USE [master]
GO
/****** Object:  Database [RPA_Condor]    Script Date: 6/1/2020 4:55:20 PM ******/
CREATE DATABASE [RPA_Condor]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RPA_Condor', FILENAME = N'D:\Datos\RPA_Condor.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RPA_Condor_log', FILENAME = N'D:\Log\RPA_Condor_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RPA_Condor].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RPA_Condor]
GO
USE [RPA_Condor]
GO
/****** Object:  User [carlos.rendon]    Script Date: 6/1/2020 4:55:21 PM ******/
CREATE USER [carlos.rendon] FOR LOGIN [carlos.rendon] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [carlos.rendon]
GO
/****** Object:  Table [dbo].[asset_robots]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_robots](
	[id] [uniqueidentifier] NOT NULL,
	[robot] [uniqueidentifier] NULL,
	[asset] [uniqueidentifier] NULL,
	[asset_value] [varchar](250) NULL,
 CONSTRAINT [PK_asset_robots] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[asset_types]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[asset_types](
	[id] [int] NOT NULL,
	[asset_type] [varchar](250) NULL,
 CONSTRAINT [PK_asset_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[assets]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[assets](
	[id] [uniqueidentifier] NOT NULL,
	[asset] [varchar](250) NULL,
	[asset_description] [varchar](250) NULL,
	[asset_type] [int] NULL,
	[global_asset_value] [varchar](250) NULL,
	[global_value] [bit] NULL,
 CONSTRAINT [PK_assets] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bd_3503]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bd_3503](
	[id] [uniqueidentifier] NULL,
	[id_business_processes] [uniqueidentifier] NULL,
	[tipo_turno] [varchar](50) NULL,
	[periodo] [varchar](50) NULL,
	[bodega] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[business_process_details]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[business_process_details](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[id_business_process] [uniqueidentifier] NULL,
 CONSTRAINT [PK_business_process_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[business_processes]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[business_processes](
	[id] [uniqueidentifier] NOT NULL,
	[business_process] [varchar](250) NULL,
	[business_process_description] [nvarchar](max) NULL,
	[id_process] [uniqueidentifier] NULL,
 CONSTRAINT [PK_business_processes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[config_file_settings]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[config_file_settings](
	[Name] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[RobotId] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[frequencies]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[frequencies](
	[id] [int] NOT NULL,
	[frequency] [varchar](50) NULL,
 CONSTRAINT [PK_frequencies] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hosting_types]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hosting_types](
	[id] [int] NOT NULL,
	[hosting_type] [varchar](50) NULL,
	[hosting_type_description] [varchar](250) NULL,
 CONSTRAINT [PK_hosting_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_priorities]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_priorities](
	[id] [int] NOT NULL,
	[job_priority] [nvarchar](50) NULL,
 CONSTRAINT [PK_job_priority] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_sources]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_sources](
	[id] [int] NOT NULL,
	[job_source] [varchar](50) NULL,
 CONSTRAINT [PK_job_sources] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_states]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_states](
	[id] [int] NOT NULL,
	[job_state] [varchar](50) NULL,
 CONSTRAINT [PK_job_states] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[job_types]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[job_types](
	[id] [int] NOT NULL,
	[job_type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_job_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [uniqueidentifier] NOT NULL,
	[robot] [uniqueidentifier] NULL,
	[id_user] [uniqueidentifier] NULL,
	[robot_user] [varchar](250) NULL,
	[robot_machine] [varchar](250) NULL,
	[environment] [varchar](50) NULL,
	[job_type] [int] NULL,
	[job_state] [int] NULL,
	[job_priority] [int] NULL,
	[job_source] [int] NULL,
	[started] [bit] NULL,
	[ended] [bit] NULL,
	[business_process] [uniqueidentifier] NULL,
 CONSTRAINT [PK_jobs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[licenses]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[licenses](
	[id] [uniqueidentifier] NOT NULL,
	[id_user] [uniqueidentifier] NULL,
	[attended] [int] NULL,
	[unattended] [int] NULL,
	[testing] [int] NULL,
	[non_production] [int] NULL,
 CONSTRAINT [PK_licenses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_actions]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_actions](
	[id] [int] NOT NULL,
	[log_action] [varchar](50) NULL,
 CONSTRAINT [PK_log_actions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_categories]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_categories](
	[id] [int] NOT NULL,
	[log_category] [varchar](50) NULL,
 CONSTRAINT [PK_log_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_details]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_details](
	[id] [uniqueidentifier] NOT NULL,
	[time] [datetime] NULL,
	[log_level] [int] NULL,
	[id_process] [uniqueidentifier] NULL,
	[robot_user] [varchar](250) NULL,
	[robot_machine] [varchar](250) NULL,
	[message] [varchar](250) NULL,
 CONSTRAINT [PK_log_detailed] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_levels]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_levels](
	[id] [int] NOT NULL,
	[log_level] [varchar](50) NULL,
 CONSTRAINT [PK_log_levels] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_operations]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_operations](
	[id] [int] NOT NULL,
	[log_operation] [varchar](100) NULL,
 CONSTRAINT [PK_log_operations] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[logs]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[logs](
	[id] [uniqueidentifier] NOT NULL,
	[id_user] [uniqueidentifier] NULL,
	[log_category] [int] NULL,
	[log_action] [int] NULL,
	[log_operation] [int] NULL,
	[time] [datetime] NULL,
 CONSTRAINT [PK_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[process_types]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[process_types](
	[id] [int] NOT NULL,
	[process_type] [varchar](50) NULL,
 CONSTRAINT [PK_process_type] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[processes]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[processes](
	[id] [uniqueidentifier] NOT NULL,
	[process] [varchar](50) NULL,
	[description] [varchar](250) NULL,
	[version] [varchar](50) NULL,
	[environment] [varchar](50) NULL,
	[job_priority] [int] NULL,
	[type] [varchar](50) NULL,
	[process_type] [int] NULL,
 CONSTRAINT [PK_process] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provision_types]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provision_types](
	[id] [int] NOT NULL,
	[provision_type] [varchar](50) NULL,
 CONSTRAINT [PK_provision_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[queue_items]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[queue_items](
	[id] [uniqueidentifier] NOT NULL,
	[queue] [uniqueidentifier] NULL,
	[transaction_identifier] [varchar](250) NULL,
	[transaction_name] [varchar](250) NULL,
	[specific_data] [varchar](50) NULL,
	[output_data] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[revision] [varchar](50) NULL,
	[deadline] [varchar](50) NULL,
	[retry] [int] NULL,
	[postponed] [bit] NULL,
	[started] [bit] NULL,
	[ended] [bit] NULL,
	[exception] [varchar](250) NULL,
 CONSTRAINT [PK_queue_item] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[queues]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[queues](
	[id] [uniqueidentifier] NOT NULL,
	[job] [uniqueidentifier] NULL,
	[queue_name] [varchar](50) NULL,
 CONSTRAINT [PK_queues] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[robot_types]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robot_types](
	[id] [int] NOT NULL,
	[robot_type] [varchar](50) NULL,
 CONSTRAINT [PK_robot_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[robots]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[robots](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NULL,
	[description] [nvarchar](250) NULL,
	[id_service] [uniqueidentifier] NULL,
	[robot_user] [varchar](250) NULL,
	[robot_machine] [varchar](250) NULL,
	[provision_type] [int] NULL,
	[robot_type] [int] NULL,
	[status] [varchar](50) NULL,
	[folder] [varchar](250) NULL,
	[id_process] [uniqueidentifier] NULL,
 CONSTRAINT [PK_robot] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [uniqueidentifier] NOT NULL,
	[service] [varchar](50) NULL,
	[description] [varchar](250) NULL,
	[id_user] [uniqueidentifier] NULL,
 CONSTRAINT [PK_services] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testing_information]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testing_information](
	[id] [uniqueidentifier] NOT NULL,
	[robot_name] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_testing_information] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[testing_trace]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testing_trace](
	[id] [uniqueidentifier] NOT NULL,
	[robot_name] [varchar](50) NULL,
	[started] [datetime] NULL,
	[ended] [datetime] NULL,
 CONSTRAINT [PK_testing_trace] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trigger_actions]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trigger_actions](
	[id] [uniqueidentifier] NOT NULL,
	[id_trigger] [uniqueidentifier] NULL,
	[trigger_action] [varchar](250) NULL,
	[execution_target] [varchar](250) NULL,
 CONSTRAINT [PK_trigger_actions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[triggers]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[triggers](
	[id] [uniqueidentifier] NOT NULL,
	[process] [uniqueidentifier] NULL,
	[trigger_name] [varchar](50) NULL,
	[trigger_description] [varchar](250) NULL,
	[time_zone] [varchar](250) NULL,
	[every] [decimal](18, 2) NULL,
	[frequency] [int] NULL,
	[environment] [varchar](250) NULL,
	[trigger_details] [varchar](250) NULL,
	[job_priority] [int] NULL,
	[next_runtime] [datetime] NULL,
	[stop_after] [varchar](50) NULL,
	[sunday] [bit] NULL,
	[monday] [bit] NULL,
	[tuesday] [bit] NULL,
	[wednesday] [bit] NULL,
	[thursday] [bit] NULL,
	[friday] [bit] NULL,
	[saturday] [bit] NULL,
 CONSTRAINT [PK_triggers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_rols]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_rols](
	[id] [int] NOT NULL,
	[user_rol] [varchar](50) NULL,
	[descripcion] [varchar](250) NULL,
 CONSTRAINT [PK_user_rols] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[user_name] [varchar](50) NULL,
	[email] [varchar](250) NULL,
	[last_active] [datetime] NULL,
	[first_name] [varchar](250) NULL,
	[last_name] [varchar](250) NULL,
	[status] [varchar](50) NULL,
	[web_access] [bit] NULL,
	[robot_access] [bit] NULL,
	[license_type] [varchar](50) NULL,
	[password_hash] [varchar](50) NULL,
	[two_factor_enabled] [bit] NULL,
	[hosting_type] [int] NULL,
	[rol] [int] NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[asset_robots]  WITH CHECK ADD  CONSTRAINT [FK_asset_robots_assets] FOREIGN KEY([asset])
REFERENCES [dbo].[assets] ([id])
GO
ALTER TABLE [dbo].[asset_robots] CHECK CONSTRAINT [FK_asset_robots_assets]
GO
ALTER TABLE [dbo].[asset_robots]  WITH CHECK ADD  CONSTRAINT [FK_asset_robots_robots] FOREIGN KEY([robot])
REFERENCES [dbo].[robots] ([id])
GO
ALTER TABLE [dbo].[asset_robots] CHECK CONSTRAINT [FK_asset_robots_robots]
GO
ALTER TABLE [dbo].[assets]  WITH CHECK ADD  CONSTRAINT [FK_assets_asset_types] FOREIGN KEY([asset_type])
REFERENCES [dbo].[asset_types] ([id])
GO
ALTER TABLE [dbo].[assets] CHECK CONSTRAINT [FK_assets_asset_types]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_business_processes] FOREIGN KEY([business_process])
REFERENCES [dbo].[business_processes] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_business_processes]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_job_priority] FOREIGN KEY([job_priority])
REFERENCES [dbo].[job_priorities] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_job_priority]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_job_sources] FOREIGN KEY([job_source])
REFERENCES [dbo].[job_sources] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_job_sources]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_job_states] FOREIGN KEY([job_state])
REFERENCES [dbo].[job_states] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_job_states]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_job_types] FOREIGN KEY([job_type])
REFERENCES [dbo].[job_types] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_job_types]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_jobs] FOREIGN KEY([robot])
REFERENCES [dbo].[robots] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_jobs]
GO
ALTER TABLE [dbo].[jobs]  WITH CHECK ADD  CONSTRAINT [FK_jobs_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[jobs] CHECK CONSTRAINT [FK_jobs_users]
GO
ALTER TABLE [dbo].[licenses]  WITH CHECK ADD  CONSTRAINT [FK_licenses_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[licenses] CHECK CONSTRAINT [FK_licenses_users]
GO
ALTER TABLE [dbo].[log_details]  WITH CHECK ADD  CONSTRAINT [FK_log_details_log_levels] FOREIGN KEY([log_level])
REFERENCES [dbo].[log_levels] ([id])
GO
ALTER TABLE [dbo].[log_details] CHECK CONSTRAINT [FK_log_details_log_levels]
GO
ALTER TABLE [dbo].[log_details]  WITH CHECK ADD  CONSTRAINT [FK_log_details_processes] FOREIGN KEY([id_process])
REFERENCES [dbo].[processes] ([id])
GO
ALTER TABLE [dbo].[log_details] CHECK CONSTRAINT [FK_log_details_processes]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_log_actions] FOREIGN KEY([log_action])
REFERENCES [dbo].[log_actions] ([id])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_log_actions]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_log_categories] FOREIGN KEY([log_category])
REFERENCES [dbo].[log_categories] ([id])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_log_categories]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_log_operations] FOREIGN KEY([log_operation])
REFERENCES [dbo].[log_operations] ([id])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_log_operations]
GO
ALTER TABLE [dbo].[logs]  WITH CHECK ADD  CONSTRAINT [FK_logs_log_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[logs] CHECK CONSTRAINT [FK_logs_log_users]
GO
ALTER TABLE [dbo].[processes]  WITH CHECK ADD  CONSTRAINT [FK_processes_job_priority] FOREIGN KEY([job_priority])
REFERENCES [dbo].[job_priorities] ([id])
GO
ALTER TABLE [dbo].[processes] CHECK CONSTRAINT [FK_processes_job_priority]
GO
ALTER TABLE [dbo].[processes]  WITH CHECK ADD  CONSTRAINT [FK_processes_process_type] FOREIGN KEY([process_type])
REFERENCES [dbo].[process_types] ([id])
GO
ALTER TABLE [dbo].[processes] CHECK CONSTRAINT [FK_processes_process_type]
GO
ALTER TABLE [dbo].[queue_items]  WITH CHECK ADD  CONSTRAINT [FK_queue_items_queues1] FOREIGN KEY([queue])
REFERENCES [dbo].[queues] ([id])
GO
ALTER TABLE [dbo].[queue_items] CHECK CONSTRAINT [FK_queue_items_queues1]
GO
ALTER TABLE [dbo].[queues]  WITH CHECK ADD  CONSTRAINT [FK_queues_jobs] FOREIGN KEY([job])
REFERENCES [dbo].[jobs] ([id])
GO
ALTER TABLE [dbo].[queues] CHECK CONSTRAINT [FK_queues_jobs]
GO
ALTER TABLE [dbo].[robots]  WITH CHECK ADD  CONSTRAINT [FK_robot_services] FOREIGN KEY([id_service])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[robots] CHECK CONSTRAINT [FK_robot_services]
GO
ALTER TABLE [dbo].[robots]  WITH CHECK ADD  CONSTRAINT [FK_robots_processes] FOREIGN KEY([id_process])
REFERENCES [dbo].[processes] ([id])
GO
ALTER TABLE [dbo].[robots] CHECK CONSTRAINT [FK_robots_processes]
GO
ALTER TABLE [dbo].[robots]  WITH CHECK ADD  CONSTRAINT [FK_robots_provision_types] FOREIGN KEY([provision_type])
REFERENCES [dbo].[provision_types] ([id])
GO
ALTER TABLE [dbo].[robots] CHECK CONSTRAINT [FK_robots_provision_types]
GO
ALTER TABLE [dbo].[robots]  WITH CHECK ADD  CONSTRAINT [FK_robots_robot_types] FOREIGN KEY([robot_type])
REFERENCES [dbo].[robot_types] ([id])
GO
ALTER TABLE [dbo].[robots] CHECK CONSTRAINT [FK_robots_robot_types]
GO
ALTER TABLE [dbo].[services]  WITH CHECK ADD  CONSTRAINT [FK_services_users] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[services] CHECK CONSTRAINT [FK_services_users]
GO
ALTER TABLE [dbo].[trigger_actions]  WITH CHECK ADD  CONSTRAINT [FK_trigger_actions_triggers] FOREIGN KEY([id_trigger])
REFERENCES [dbo].[triggers] ([id])
GO
ALTER TABLE [dbo].[trigger_actions] CHECK CONSTRAINT [FK_trigger_actions_triggers]
GO
ALTER TABLE [dbo].[triggers]  WITH CHECK ADD  CONSTRAINT [FK_triggers_frequencies] FOREIGN KEY([frequency])
REFERENCES [dbo].[frequencies] ([id])
GO
ALTER TABLE [dbo].[triggers] CHECK CONSTRAINT [FK_triggers_frequencies]
GO
ALTER TABLE [dbo].[triggers]  WITH CHECK ADD  CONSTRAINT [FK_triggers_triggers] FOREIGN KEY([process])
REFERENCES [dbo].[processes] ([id])
GO
ALTER TABLE [dbo].[triggers] CHECK CONSTRAINT [FK_triggers_triggers]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_hosting_types] FOREIGN KEY([hosting_type])
REFERENCES [dbo].[hosting_types] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_hosting_types]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK_users_user_rols] FOREIGN KEY([rol])
REFERENCES [dbo].[user_rols] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK_users_user_rols]
GO
/****** Object:  StoredProcedure [dbo].[Get_Config_File]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Get_Config_File]
(@RobotId nvarchar(max))
As
	select *
		from [dbo].[config_file_settings]
		WHERE RobotId=@RobotId
GO
/****** Object:  StoredProcedure [dbo].[Get_Testing_Information]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[Get_Testing_Information]
(@robot_name varchar(50))
As
	select *
		from [dbo].[testing_information] t
		where t.robot_name = @robot_name	
GO
/****** Object:  StoredProcedure [dbo].[PutTesting_Trace_Ended]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PutTesting_Trace_Ended]
(
@robot_name varchar(50))
As

		Insert testing_trace
							(
							id,
							robot_name,
							[started],
							ended
							)
		values
							(
							newid(),
							@robot_name,
							null,
							getdate()
							)
GO
/****** Object:  StoredProcedure [dbo].[PutTesting_Trace_Started]    Script Date: 6/1/2020 4:55:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PutTesting_Trace_Started]
(
@robot_name varchar(50))
As

		Insert testing_trace
							(
							id,
							robot_name,
							[started],
							ended
							)
		values
							(
							newid(),
							@robot_name,
							getdate(),
							null
							)
GO
USE [master]
GO
